<!DOCTYPE html>
<html lang="en">
	<body>
		<div class="login">
			<h1>Online Payment Fraud Detection</h1>
			<!-- Main input for recieving query to our ML -->
			<form action="{{ url_for('predict_datapoint')}}" method="post">
				<!--  array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'] -->
				<label for="cars">Choose a car:</label>
				<select id="cars" name="Type">
					<option value="0">CASH_IN</option>
					<option value="1">CASH_OUT</option>
					<option value="2">DEBIT</option>
					<option value="3">PAYMENT</option>
					<option value="4">TRANSFER</option>
				</select>
				<br />
				<input
					type="text"
					name="Amount"
					placeholder="Amount"
					required
				/><br />
				<input
					type="text"
					name="Old Balance"
					placeholder="Old Balance"
					required
				/><br />
				<input
					type="text"
					name="New Balance"
					placeholder="New Balance"
					required
				/><br />
				<button type="submit" btn btn-primary btn-block btn-large>
					Predict
				</button>
			</form>
			<h2>The Transation is {{result}}</h2>
		</div>
	</body>
</html>
